footer{
    padding: 2vw;
    color: aliceblue;
}

.footercontact{
    position: relative;
    display: flex;
    align-items: center;
    filter: invert(100%);
    
    width: fit-content;
}

.footercontact p {
    font-weight: bold;
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
}

.footercontact img{
    width: 3vw;
    margin-left: 2.5vw;
}

@media only screen and (max-width: 800px){
    footer{
        padding: 2vw;
        
    }
    .footercontact{
        filter: invert(100%);
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .footercontact img{
        width: 15vw;
        margin-left: 2.5vw;
    }
}